<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GetVideoHandler.Properties.Settings.JamConnectionString"
            connectionString="server=localhost;user id=jam_user;password=123;persist security info=True;database=jam" />
    </connectionStrings>
</configuration>